.my-plugin-backlinks {
	display: flex;
	justify-content: center;
	font-size: 14px;
	gap: 5px;
	text-align: center;
	padding: 0 calc(var(--size-4-3) * 2);
	flex-wrap: wrap;
}

.my-plugin-group-title {
	text-align: center;
	margin: 0;
}

.my-plugin-group {
	margin-bottom: var(--size-4-3);

	hr {
		margin: 10px 0 !important;
	}
}
